<div>
<form [formGroup]="formContato">
  <label for="nome" class="col-form-label-sm"> NOME: </label>
  <br>
  <input type="string" class="col-form-control w-100" name="nome" formControlName="nome"/>
  <br>
  <label for="email" class="col-form-label-sm">EMAIL: </label>
  <br>
  <input type="string" name="email" formControlName="email" />
  <br>
  <label for="nome" class="col-form-label-sm">TELEFONE: </label>
  <br>
  <input type="tel" name="telefone"  formControlName="telefone" />
  <br>
  <label for="data" class="col-form-label-sm">ANIVERSÁRIO: </label>
  <br>
  <input type="date" name="date"formControlName="aniversario"/>
  <br>
  <br>
  <input type="button" value="Adicionar" (click)="adicionarContato(nome.value,telefone.value,email.value,aniversario.value)" [disabled]="formContato.invalid">
  <div class="alert alert-danger" *ngIf="nome.invalid && (nome.touched || nome.dirty)"> Campo Nome inválido</div>
  <div class="alert alert-danger" *ngIf="telefone.invalid && (telefone.touched || telefone.dirty)"> Campo inválido, exemplo VÁLIDO 8888-8888</div>
</form>
</div>
