<div class="bg-black text-center text-white">
  <h6 class="">Lista de Contatos</h6>
</div>
<table class="table">
  <thead class="thead-dark">
  <th scope="col">NOME: </th>
  <th scope="col"> TELEFONE: </th>
  <th scope="col">EMAIL: </th>
  <th>ANIVERSÁRIO</th>
  </thead>
  <tr *ngFor="let valor of contatos; index as i">
    <td>{{valor.nome}}</td>
    <td>{{valor.telefone}}</td>
    <td>{{valor.email}}</td>
    <td>{{valor.aniversario}}</td>
    <td><input type="button" value="Excluir" class="btn btn-outline bg-black text-white" (click)="remover(i)"></td>
  </tr>
</table>
